<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletConsultaVentas</servlet-name>
        <servlet-class>ServletSteve.ServletConsultaVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>edu.patrones.controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>edu.patrones.controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <servlet-class>edu.patrones.controller.ServletActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerProductosCanje</servlet-name>
        <servlet-class>ServletSteve.ServletVerProductosCanje</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConsultaVentas</servlet-name>
        <url-pattern>/ServletConsultaVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <url-pattern>/ServletActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerProductosCanje</servlet-name>
        <url-pattern>/ServletVerProductosCanje</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
